@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer utilities {
  .scrollbar-stable {
    scrollbar-gutter: stable both-edges;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: #889cb1;
  border-radius: 100vh;
  border: 2px solid #889cb1;
}

::-webkit-scrollbar-thumb:hover {
  background: #65788d;
  border: 2px solid #65788d;
}
