name: Deploy to Server

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4  # Versi칩n actualizada

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3  # Versi칩n m치s reciente
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          port: 22
          script: |
            # Navegar al directorio del proyecto
            cd /beneficios
            
            # Actualizar el repositorio
            git reset --hard HEAD
            git clean -fd
            git pull origin main
            
            # Reconstruir y reiniciar contenedores
            podman-compose down
            podman-compose up -d --build --force-recreate
            
            # Recargar configuraci칩n de Nginx
            sudo nginx -t && sudo nginx -s reload
            
            # Limpiar recursos no utilizados
            podman system prune -f
